<h1>Currenly Rainforest's User list is</h1>
<% @users.each do |user| %>
  <ul>
    <li>Client id-nº<%= user.id %></li>
    <li><%= link_to user.name, user_path(user.id) %></li>
    <li><%= user.email %></li>
  </ul>

<% end %>
