<h1>Hello, Your're looking at User nยบ<%= @user.id %></h1>
<p>His/her name is: <%= @user.name %></p>
<p>Don't remember his/her email? It's ok, it's: <%= @user.email %></p>
<p>Get in contact, and make the best out of the community!</p>
