<% @product.reviews.each do |review| %>
  <div class='review'>
    <div class='comment'>
      <p><%= review.comment %></p>
    </div>
    <% if review.user != nil %>
      <div class='poster'>
        <p> by <%= review.user.name %> on <%= review.created_at %></p>
      </div>
      <br />
    <% end %>
  </div>
<% end %>
