<h1>Rainforest's Products' Index</h1>
<!-- <p>Find me in app/views/products/index.html.erb</p> -->
<% @products.each do |product| %>
  <li>
      <ul><p><a href="/products/1"><%= product.name %></a> <%= product.description %> €<%= product.formatted_price %> </p></ul>
  </li>
<% end  %>

<!-- To Do's:
Dynamic link to each product.
Add New Product Link/Button.
Edit Link/Button at each product line? -->

<!-- Questions:
How to create dynamic link for each product?
Instead of a href... How to use link_to ? -->
